name: CI Java 17

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Docker Image
        run: |
docker build -t ghcr.io/${{ github.repository_owner | toLower }}/tp4maintenance/todo-api:java17 .
docker push ghcr.io/${{ github.repository_owner | toLower }}/tp4maintenance/todo-api:java17

